{% extends 'base.html' %}
{% block content %}
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for url, title in departures.items() %}
          <li class="nav-item{% if departure == url %} active{% endif %}">
            <a class="nav-link" href="/departures/{{ url }}/">{{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures[departure] }}</h1>
    {% set sorted_price = tours|sort(attribute="price") %}
    {% set sorted_nights = tours|sort(attribute="nights") %}
    <p class="mb-4">Найдено {{ tours | list | count }} туров, от {{ (sorted_price|first).price }} до {{ (sorted_price|last).price }}
      и от {{ (sorted_nights|first).nights }} ночей до {{ (sorted_nights|last).nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for t in sorted_price %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ t.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ t.title }}</h2>
            <p class="card-text">{{ t.description }}</p>
            <a href="/tours/{{ t.id }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}