{% extends 'base.html' %}
{% block content %}
  <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for url, title in departures.items() %}
          <li class="nav-item">
            <a class="nav-link" href="/departures/{{ url }}/">{{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('https://place-hold.it/1600x300'); background-position: center center">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, t in tours.items() %}
        {% if loop.index <= 6 %}
          <div class="col-4">
            <div class="card mb-4">
              <div class="embed-responsive embed-responsive-16by9">
                 <img class="card-img-top embed-responsive-item" src="{{ t.picture }}" alt="" />
              </div>
              <div class="card-body">
                <h2 class="h5 card-title">{{ t.title }}</h2>
                <p class="card-text">{{ t.description }}</p>
                <a href="/tours/{{ id }}/" class="btn btn-sm btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}